@import "variables";

.revolutionary-editor {
margin: 70px;
 
h2 {
padding: 20px 0;
color: #635c73;
font-size: 54px;
font-weight: 700;
}

p {
padding: 20px 0;
color: #323232;
font-family: "Source Sans Pro", sans-serif;
font-size: 21px;
font-weight: 400;
line-height: 32px;
}
}